<!doctype html>
<html lang="en">
<head th:replace="blocks/base_head :: baseHead(~{::title})">
    <title>Создание резюме</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <form class="mt-3" th:action="@{/candidates/create}" method="post" th:object="${candidate}">
            <div class="mb-3">
                <label for="name" class="form-label"><b>Имя</b></label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Укажите Имя и Фамилию">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"><b>О кандидате</b></label>
                <textarea class="form-control" id="description" name="description" rows="25"
                          placeholder="Опишите кандидата, небольшое сопроводительное письмо"></textarea>
            </div>
            <div class="mb-3 row">
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/candidates}">Отмена</a></div>
                        <div class="col-6">
                            <button class="btn btn-success w-100" type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>