<!doctype html>
<html lang="en">
<head th:replace="~{blocks/base_head :: baseHead(~{::title})}">
    <title>Кандидаты</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container">
        <div class="mt-3">
            <h3>Кандидаты</h3>
        </div>
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Время добавления</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candidate: ${candidates}">
                    <th th:text="${candidate.id}"/>
                    <td><a th:text="${candidate.name}"
                           th:href="@{/candidates/{candidateId}(candidateId=${candidate.id})}"></a>
                    <td th:text="${{candidate.creationDate}}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
</div>
</body>
</html>